<div class="container-fluid" style="background-color: #95D2B3;">
    <div class="row py-3">
        <ul class="nav justify-content-center border-bottom pb-3 mb-3">
            <li class="nav-item">
                <a href="https://www.instagram.com/santhosh__kbrs/profilecard/?igsh=N3o3cW40MGNqY2V6"
                    class="nav-link px-2 text-body-secondary" target="_blank" rel="noopener noreferrer">
                    <i class="bi bi-instagram"></i> Instagram
                </a>
            </li>
            <li class="nav-item">
                <a href="https://www.linkedin.com/in/swaminathan-k-9480a6249?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app"
                    class="nav-link px-2 text-body-secondary" target="_blank" rel="noopener noreferrer">
                    <i class="bi bi-linkedin"></i> LinkedIn
                </a>
            </li>
        </ul>
        <p class="text-center text-body-secondary">© 2024 Company. Designed and Developed by
            Swaminathan ❤️</p>
    </div>
</div>